*
!.gitignore
!.gitkeep

!pyproject.toml
!README.md
!LICENSE.md
!conda_env.yml
!pdm.toml
!pdm.lock
!.env-example

!*/**/
!src/
!tests/
!config/

!*/**/*.py
!*/**/*.md
!*/**/*.json
!*/**/*.yml

.stash
